{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>House Booking</title>

    <!-- Load favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />

    <!-- Include your CSS files here -->
    <link
      rel="preload"
      as="style"
      type="text/css"
      href="{% static 'css/style.css' %}"
      onload="this.rel = 'stylesheet'"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Add include tag for header -->.
    {% include "partials/_header.html" %}

    <main>
       <!-- Begin block content --> 
       <div class="container">
        {% block content %}
      <!-- End block content --> 
        {% endblock %} 
       </div>
    </main>

    <!-- Add include tag for footer. -->
    {% include "partials/_footer.html" %}
  </body>
</html>
