body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.container {
    margin-top: 2rem;
    margin-bottom: 12rem; /* Adjust the value as needed */
  }

.form-container {
    max-height: 400px; /* Adjust the value as needed */
    overflow-y: auto;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
    letter-spacing: 2px;;
}

h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    color: #333333;
    margin:1rem 0;
}

p, ul{
    font-size: 1.25rem;;
}

a {
    color: #EE9972;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    display: flex;
    flex: 0 0 25%;
    max-width: 100%;
    height: auto;
    margin-right: 20px;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dashboard {
    display: flex;
    height: 100%;
}

.dashboard section {
    background-color: #6fd377;
    width: 20%;
    
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1rem;
    text-align: left;
    padding-inline-start: 0rem;
    height: 100%;
    padding-left: 2rem;
}

.dashboard-nav li {
    padding: 0.5rem;
    font-size: 1.15rem;
}

.dashboard-nav a {
    color: #EDEFEE;
    text-decoration: none;
}

.dashboard-nav a:active {
    text-decoration: underline;
}

.dashboard-nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

nav {
    flex: 1;
    background-color: #6fd377;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    /* margin-bottom: 0px; */
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 1rem;
    text-align: right;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem;
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:active {
    text-decoration: underline;
}

nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #c7f3a9;
  padding: 10px;
  border: 1px solid #ccc;
}

.dropdown-menu li {
  display: block;
  margin: 5px 0;
}

.dropdown-menu li a {
  color: #2a8a53;
  text-decoration: none;
}

section {
    display: flex;
    gap: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
}

article {
    flex:1;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
}

main article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
}

#button {
    padding: .5rem 1rem;
    border: 1px solid #495E57;
    background-color:#495E57;;
    border-radius: 5px;
    width: 80%;
    font-size: 1.25rem;
    display: block;
    color: #fff;
    line-height: 25px;
  }


  footer {
    background-color: #6fd377;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

footer p {
    border-top: #333333;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
    padding-top: 0.5rem;;
}

@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
  }